/venv
*.DS_Store
__pycache__/
*.pyc
/Imacvenv

.DS_Store
main.log
singleagent.log
tools.log
logs/context.log
main.log.1
logs/context.log.1
logs/context.log.2
logs/context.log.3
main.log.2
main.log.3
/Macvenvallot
count_words.py
